Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
streamlit==0.69.0
pandas==1.2.0
matplotlib==3.3.3
seaborn==0.11.1
numpy==1.19.5
yfinance=0.1.55

